body{
    background-color: lavender;
}

#title{
    font-family: "amethyst";
    color: darkblue;
    text-align: center;
    font-size:100px;
}
h2{
    text-align: center;
    color:darkblue;
}
#NavMenu1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
 float: left;   
}

li a {
    display: block;
    color: midnightblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: white;
}

button{
    margin: 0 auto;
    display: block;
    padding: 20px 20px;
    font-size:30px;
    background-color: aliceblue;
    color:blue;
    font-family: "Bright young things";
 }